<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.topanimestream"
    android:versionCode="1"
    android:versionName="1" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="14" />

    <application
        android:name="com.topanimestream.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="TopAnime\nStream"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <provider
            android:name="com.topanimestream.SuggestionProvider"
            android:authorities="com.topanimestream.SuggestionProvider" />

        <receiver
            android:name="com.topanimestream.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.topanimestream.MainActivity"
            android:configChanges="locale|layoutDirection" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.topanimestream.AnimeSearchActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.topanimestream.Settings"
            android:configChanges="locale|layoutDirection"
            android:label="Settings" >
        </activity>
        <activity
            android:name="com.topanimestream.FavoriteActivity"
            android:configChanges="locale|layoutDirection"
            android:label="Favorites" >
        </activity>
        <activity
            android:name="com.topanimestream.EpisodeDetailsActivity"
            android:theme="@style/PopupTheme"
            android:configChanges="locale|layoutDirection"
            android:label="Providers" >
        </activity>
        <activity
            android:name="com.topanimestream.HistoryActivity"
            android:configChanges="locale|layoutDirection"
            android:label="History" >
        </activity>
        <activity
            android:name="com.topanimestream.AnimeSearchActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/title_activity_anime_search"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.topanimestream.AnimeSearchActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.topanimestream.AnimeDetailsActivity"
            android:configChanges="locale|layoutDirection" >
        </activity>
        <activity
            android:name="com.topanimestream.AddReviewActivity"
            android:configChanges="locale|layoutDirection" >
        </activity>
        <activity
            android:name="com.topanimestream.ReviewsActivity"
            android:configChanges="locale|layoutDirection" >
        </activity>
        <activity
            android:name="com.google.sample.castcompanionlibrary.cast.player.VideoCastControllerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.sample.cast.refplayer.VideoBrowserActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.topanimestream.LoginActivity"
            android:launchMode="singleInstance"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <meta-data
            android:name="com.fwwjt.pacjz173199.APPID"
            android:value="242590" />
        <meta-data
            android:name="com.fwwjt.pacjz173199.APIKEY"
            android:value="android*1389654828173199709" />

        <activity
            android:name="com.fwwjt.pacjz173199.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.fwwjt.pacjz173199.BrowserActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.fwwjt.pacjz173199.VDActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.topanimestream.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_video"
            android:theme="@style/FullScreenVideoTheme" >
        </activity>
    </application>

</manifest>
