<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.topanimestream"
    android:versionCode="1"
    android:versionName="1" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.topanimestream.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="TopAnimeStream"
        android:largeHeap="true"
        android:theme="@style/AppBaseTheme" >
        <provider
            android:name=".utilities.SuggestionProvider"
            android:authorities="com.topanimestream.utilities.SuggestionProvider" />

        <receiver
            android:name=".utilities.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".views.MainActivity"
            android:configChanges="locale|layoutDirection" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".views.AnimeSearchActivity" />
        </activity>
        <activity
            android:name=".views.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_video" >
        </activity>
        <activity
            android:name=".views.PreferencesActivity"
            android:configChanges="locale|layoutDirection"
            android:label="Settings" >
        </activity>
        <activity
            android:name=".views.profile.MyFavoritesActivity"
            android:configChanges="locale|layoutDirection"
            android:label="Favorites" >
        </activity>
        <activity
            android:name=".views.EpisodeDetailsActivity"
            android:theme="@style/PopupTheme"
            android:configChanges="locale|layoutDirection"
            android:label="Providers" >
        </activity>
        <activity
            android:name=".views.profile.MyWatchlistActivity"
            android:configChanges="locale|layoutDirection"
            android:label="My List" >
        </activity>
        <activity
            android:name=".views.AnimeSearchActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/title_activity_anime_search"
            android:parentActivityName=".views.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity
            android:name=".views.AnimeDetailsActivity"
            android:configChanges="locale|layoutDirection" >
        </activity>
        <activity
            android:name=".views.profile.EditProfileActivity"
            android:configChanges="locale|layoutDirection" >
        </activity>
        <activity
            android:name=".views.profile.MyProfileActivity"
            android:configChanges="locale|layoutDirection" >
        </activity>
        <activity
            android:name=".views.profile.MyReviewsActivity"
            android:configChanges="locale|layoutDirection" >
        </activity>
        <activity
            android:name=".views.profile.MyVotesActivity"
            android:configChanges="locale|layoutDirection" >
        </activity>
        <activity
            android:name=".views.profile.RegisterActivity"
            android:configChanges="locale|layoutDirection" >
        </activity>
        <activity
            android:name=".views.ManageReviewActivity"
            android:configChanges="locale|layoutDirection" >
        </activity>
        <activity
            android:name=".views.ReviewsActivity"
            android:configChanges="locale|layoutDirection" >
        </activity>
        <activity
            android:name="com.google.sample.castcompanionlibrary.cast.player.VideoCastControllerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.sample.cast.refplayer.VideoBrowserActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".views.profile.LoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.fwwjt.pacjz173199.APPID"
            android:value="242590" />
        <meta-data
            android:name="com.fwwjt.pacjz173199.APIKEY"
            android:value="android*1389654828173199709" />

        <activity
            android:name="com.fwwjt.pacjz173199.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.fwwjt.pacjz173199.BrowserActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.fwwjt.pacjz173199.VDActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".views.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_video"
            android:theme="@style/FullScreenVideoTheme" >
        </activity>
    </application>

</manifest>
